:root {
    /* System font family */
    --system-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Background colors */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #d79823;
    --bg-food-color: #ff3b3b;
    --bg-transparent: #0a080839;

    /* Text colors */
    --text-primary-color: #ffffff;

    /* paddings */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* margins */
    
    /* Border Radius */
    --border-radius-xs: 4px ;
    --border-radius-sm: 8px ;
    --border-radius-md: 12px ;
    --border-radius-lg: 16px ;
    --border-radius-xl: 24px ;
    --border-radius-2xl: 32px ;

    /* Border colors */
    --border-primary-color: #333333;

}

*{
    margin: 0;
    padding: 0;
}

html,body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

html {
    font-family: var(--system-font);
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main, section{
    height:85%;
    width: 97%;
}

section {
    height: 100%;
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

section .infos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board {
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px, 1fr));
}

.block {
    /* width: 30px;
    height: 30px; */
    border: 1px solid var(--border-primary-color);
}

.fill {
    background-color: var(--bg-fill-color);
}

.food {
    background-color: var(--bg-food-color);
}

.btn {
    font-weight: 700;
    font-size: large;
    border: none;
    padding: var(--space-md) var(--space-md);
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-transparent);
    backdrop-filter: blur(4px);
}

.start-game {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
    justify-content: center;
}

.over-game {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
    display: none;
    justify-content: center;
}

.modal h3 {
    font-size: 5vw;
}
