:root {
    --system-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #d79823;
    --bg-food-color: #ff3b3b;
    --bg-transparent: #0a080839;

    --text-primary-color: #ffffff;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    --border-radius-xs: 4px ;
    --border-radius-sm: 8px ;
    --border-radius-md: 12px ;
    --border-radius-lg: 16px ;
    --border-radius-xl: 24px ;
    --border-radius-2xl: 32px ;

    --border-primary-color: #333333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html {
    font-family: var(--system-font);
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main, section{
    height: 100%;
    width: 100%;
}

section {
    height: 100%;
    padding: var(--space-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

section .infos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
    font-size: clamp(12px, 2vw, 18px);
}

.board {
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;

    /* Make grid responsive */
    grid-template-columns: repeat(auto-fill, minmax(min(50px, 8vw), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(min(50px, 8vw), 1fr));

    /* Prevent horizontal stretching */
    width: 100%;
    max-width: 100%;
}

.block {
    border: 1px solid var(--border-primary-color);
}

.fill {
    background-color: var(--bg-fill-color);
}

.food {
    background-color: var(--bg-food-color);
}

/* Buttons */
.btn {
    font-weight: 700;
    font-size: clamp(16px, 4vw, 24px);
    border: none;
    padding: var(--space-md) var(--space-md);
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

/* Modal */
.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-transparent);
    backdrop-filter: blur(4px);
}

.start-game, .over-game {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
    justify-content: center;
}

.over-game {
    display: none;
}

.modal h3 {
    font-size: clamp(20px, 6vw, 48px);
}
